.form-control-xxl {
  @extend .form-control-lg;
  font-size: 5rem !important;
}

@each $name, $color in $theme-colors {
  .color-#{$name} {
    color: $color;
  }
}

.color-brand {
  color: $brand-primary-color;
}

.bg-brand {
  background-color: $brand-primary-color;
}

$font-weights: 100,200,300,400,500,600,700,800,900;
@each $weight in $font-weights {
  .font-weight-#{$weight} {font-weight: $weight;}
}

$text-sizes: 1,1.5,2,2.5,3,3.5,4,4.5,5,6,6.5,7,7.5;
@each $text-size in $text-sizes {
  .text-size-#{$text-size} {
    font-size: #{$text-size}rem !important;
  }
}

@each $text-size in $text-sizes {
  .border-radius-#{$text-size} {
    border-radius: #{$text-size}rem !important;
  }
}
