@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~react-base-table/lib/BaseTable";
@import "utils";

.shadow {
  -webkit-box-shadow: -5px -1px 21px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    -5px -1px 21px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         -5px -1px 21px 0px rgba(50, 50, 50, 0.7);
}

