@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~react-base-table/lib/BaseTable";
@import "utils";

.shadow {
  -webkit-box-shadow: -5px -1px 21px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    -5px -1px 21px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         -5px -1px 21px 0px rgba(50, 50, 50, 0.7);
}

.image-fullscreen-container {
  position: fixed;
  top: $navbar-height !important;
  left: 0;
  background-color: rgba(0,0,0,.75);
  z-index: 998;
  width: 100% !important;
  height: 100% !important;
  min-width: 100vw !important;
  min-height: 100vh !important;
  overflow-y: auto;
}

.zIndex1 {
  z-index: 1;
}

.zIndex2 {
  z-index: 2;
}
